body {
  font-family: Arial, Helvetica, sans-serif;
}

.news-widget {
  border: 1px solid #cccccc;
  width: 300px;
  min-height: 400px;
  margin: 0 auto;
  position: relative;
  top: 30px;
  color: #545454;
}
.widget-header,
.widget-content {
  padding: 10px;
}
.widget-content {
  margin: 20px 0px;
}

.widget-header {
  background: #cccccc;
}
.header-buttons {
  float: right;
}
.header-buttons a::before {
  display: inline-block;
  content: "";
  -webkit-border-radius: 0.375rem;
  border-radius: 0.375rem;
  height: 0.75rem;
  width: 0.75rem;
  margin-right: 0.3rem;
  background-color: #000000;
}

.header-buttons a.current::before {
  background-color: #ffffff;
}
.widget-content-item {
  padding: 10px 0px;
  display: none;
}
.widget-content-item.current {
  display: inherit;
}
.item-title {
  display: block;
  padding: 5px 0px;
}
