body {
  background-color: #e3f2fc;
}

.containerUNU {
  background-color: white;
  border-radius: 5px;
  padding-left: 20px;
}

.textBox {
  height: 21px;
}

.buttons {
  background-color: #1e88e5;
  color: white;
  border-radius: 6px;
  height: 30px;
  border: none;
}

.containerDOI {
  background-color: white;
  border-radius: 5px;
  padding-left: 20px;
  display: grid;
  grid-auto-flow: column;
}

.containerTrei {
  background-color: white;
  border-radius: 5px;
  padding-left: 20px;
}

.harta {
  width: 800px;
  height: 300px;
}

.days {
  display: grid;
  grid: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.forecast-weather {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
